.fondo{
  background:blue;
}
.borde{
  border: 0px solid black;
  height: 50px;
  text-align: center;
}


.color1{ background: #eeeeee;}
.color2{ background: #295ba7;}
.color3{ background: #dc5c05;}
.color4{ background: #dc3545;}
